<div #inputs class="inputs"
     (input)="input($event)"
     (keyup)="keyup($event)">
  <input class="input" type="text"
         inputmode="numeric" maxlength="1"/>
  <input class="input" type="text"
         inputmode="numeric" maxlength="1"/>
  <input class="input" type="text"
         inputmode="numeric" maxlength="1"/>

  <hr>

  <input class="input a" type="text"
         inputmode="numeric" maxlength="1"/>
  <input class="input" type="text"
         inputmode="numeric" maxlength="1"/>
  <input class="input" type="text"
         inputmode="numeric"
         maxlength="1"/>
</div>
