.skinViewer {
  border-radius: 16px;
  border: 1.6px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(180deg, #9594FD 0%, #6563EE 100%);
}

.controls {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
  }

  .second {
    margin-top: 10px;
  }

  .trash {
    margin-left: 11px;
  }
}
