<div class="block-enter">
  <div>
    <app-text-field class="auth" className="outline" placeholder="example@gmail.com"
                    [control]="email"
    />
    <app-button class="auth-btn" className="solid"
                (click)="continue(email, {usernameOrEmail: email.value!})"
    >
      Далее
      <i [outerHTML]="phantomIcons.auth_button_arrow_right | safe"></i>
    </app-button>
  </div>
  <p class="hint">После, потребуется подтердить электронную почту, введя код из письма, которое мы отправим.</p>
</div>
