<header class="dock d-flex space-border">

  <div class="d-flex left">
    <app-logo/>
    <hr class="delimiter" *ngIf="isAuth$ | async">
    <p class="funny_caption"
       *ngIf="isAuth$ | async">{{ message }}</p>

  </div>

  <div class="right">
    <section style="background: #1E1E25;" *ngIf="isAuth$ | async">
      <div>
        <img (load)="isHide = false"
             [style.opacity]="!isHide ? 1 : 0"
             [src]="(head$ | async) ?? defaultHead"
             width="50"
             alt="player" class="pos-relative"/>
        <app-router
          [disableRouterLinkActive]="true"
          routerLink="profile"
          class="nickname"
          className="dock"
        >
          {{ username$ | async }}
        </app-router>
      </div>
      <app-button class="logout" className="transparent" (click)="logout()">
        <i [outerHTML]="phantomIcons.logout_icon | safe"></i>
      </app-button>
    </section>

    <section *ngIf="!(isAuth$ | async)">
      <app-button class="auth" className="solid" routerLink="/auth">
        Войти
      </app-button>
    </section>
  </div>

</header>
