<header class="dock space-border">

  <div class="d-flex left">
    <app-logo/>
    <hr class="delimiter" *ngIf="isAuth$ | async">
    <p class="funny_caption"
       *ngIf="isAuth$ | async">{{ message }}</p>

  </div>

  <section class="right">
    <div>
      <app-icon class="dock settings" type="transparent">
        <i [outerHTML]="phantomIcons.settings_icon | safe"></i>
      </app-icon>
    </div>

    <div class="lang">
      RU
    </div>

    <div class="balance">
      <p>Баланс: <span>350</span></p>
    </div>

    <div class="block-userinfo" *ngIf="isAuth$ | async">
      <div class="image-username">
        <img (load)="isHide = false"
             [style.opacity]="!isHide ? 1 : 0"
             [src]="(head$ | async) ?? defaultHead"
             width="50"
             height="50"
             alt="player" class="pos-relative"/>
        <app-router
          [disableRouterLinkActive]="true"
          routerLink="profile"
          class="nickname"
          className="dock"
        >
          {{ username$ | async }}
        </app-router>
      </div>
      <app-button class="logout" className="transparent" (click)="logout()">
        <i [outerHTML]="phantomIcons.logout_icon | safe"></i>
      </app-button>
    </div>

    <app-button
      *ngIf="!(isAuth$ | async)"
      class="auth" className="solid" routerLink="/auth">
      Войти
    </app-button>
  </section>

</header>
