@import "variables";

:host {
  display: block;
  position: sticky;

  top: 0;
  padding: 20px 0;

  z-index: 5;

  &.pin {
    transition: .2s ease;

    background: rgba(13, 13, 17, 0.01);
    backdrop-filter: blur(9px);
  }

}

header {
  transition: 0.2s ease;

  &.dock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .delimiter {
        width: 1.5px;
        height: 16px;
        background: #8F8F94;
        margin: 0 15px
      }

      .funny_caption {
        color: #8F8F94;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    > .right {
      align-items: stretch;
      display: flex;

      gap: 16px;

      font-weight: 500;
      font-size: 16px;
      color: $white-09;

      > div {
        display: flex;
        align-items: center;

        background: #1E1E25;

        border-radius: 24px;

        &.block-userinfo {
          margin-left: 4px;
          width: 300px;
        }

        .image-username {
          display: flex;
          align-items: center;

          gap: 5px;

          > img {
            transition: .3s ease;
            border-radius: 20px;
            margin: 5px;
          }
        }

        .logout {
          margin-right: 10px;
        }

      }

    }

    .lang {
      font-weight: 600;
      font-size: 24px;
    }

    .settings,
    .lang {
      width: 60px;
      justify-content: center;
    }

    .balance {
      padding: 0 16px;
    }

    .block-userinfo {
      > div {
        flex: 1
      }
    }
  }
}
