@import "global-style-effects";

.auth-section {
  background-image: url("/../assets/images/svg/backgroundAuth.svg");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-logo {
    display: flex;
    justify-content: center;
  }

  section {
    width: 436px;
  }

  .mat-mdc-form-field {
    &.mat-form-field-invalid {
      .mat-mdc-form-field-subscript-wrapper {
        margin-bottom: 10px;
      }
    }

    &.password-field,
    &.email-field,
    &.login-field {
      .mat-mdc-form-field-infix {
        display: flex;
      }
    }


    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #151519;
      padding: 8px;
      border-radius: 12px;
      margin-right: 8px;

      > img {
        transition: .2s ease;
        opacity: 0.5;
        $lokerWH: 32px;
        width: $lokerWH !important;
        height: $lokerWH !important;
      }
    }

    .mdc-text-field {
      padding-left: 6px;
      overflow: inherit
    }
  }

  .material-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      opacity: 0.5;
    }

    .checkmark {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;


      &.checked {
        rect {fill: rgba(101, 99, 238, 0.3)}
        circle {fill: #6563EE}
      }
    }


    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }


  }

  .remember-password {
    align-items: center;
    justify-content: space-between;
  }
}
