<section>
  <app-title-header>
    <ng-container title>
      Добро пожаловать в Магазин Блоков
    </ng-container>
    <ng-container sub>
      Найдите всё для вашего следующего великого строения! От обычных каменных блоков до редких блоков из нижнего мира
      – у нас есть всё!
    </ng-container>
    <app-text-field class="catalog" className="solid" placeholder="Ищете что-то конкретное?">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M13.3333 6C9.28562 6 6 9.28562 6 13.3333C6 17.3811 9.28562 20.6667 13.3333 20.6667C17.3811 20.6667 20.6667 17.3811 20.6667 13.3333C20.6667 9.28562 17.3811 6 13.3333 6ZM4 13.3333C4 8.18105 8.18105 4 13.3333 4C18.4856 4 22.6667 8.18105 22.6667 13.3333C22.6667 15.5495 21.8931 17.5859 20.6015 19.1873L27.7071 26.2929C28.0976 26.6834 28.0976 27.3166 27.7071 27.7071C27.3166 28.0976 26.6834 28.0976 26.2929 27.7071L19.1873 20.6015C17.5859 21.8931 15.5495 22.6667 13.3333 22.6667C8.18105 22.6667 4 18.4856 4 13.3333Z"
              fill="white"/>
      </svg>
    </app-text-field>
  </app-title-header>


  <div class="cards-list mt-12">
    <app-item-card *ngFor="let card of [].constructor(5)">
      <ng-container name>
        IC2
      </ng-container>

      <ng-container input>
        <app-text-field
          class="items-card"
          className="solid"
          placeholder="1"/>
      </ng-container>

    </app-item-card>
  </div>

</section>


<nav class='right nav-spacer'>
  <app-input-selector
    className="solid_v2"
    title="Категория"
    [listItems]="[
    {text: 'Hi-Tech'},
    {text: 'MiniGames'},
    {text: 'DivineRPG'}
    ]"></app-input-selector>
</nav>
