<div class="block-auth">
  <div class="steps">
    <span
      *ngFor="let el of [].constructor(countSteps); let i = index"
      [class.active]="IdComponent >= i">
    </span>
  </div>

  <div class="center">
    <div class="block-title">
      <img ngSrc="assets/images/turtle.png" width="177" height="103" alt="turtle">
      <p class="guideline">{{ scene.inputs.title }}</p>
    </div>

    <ng-container *ngComponentOutlet="scene.component"/>

  </div>

  <div class="auxiliary">
    <div
      *ngIf="!isTheEnd && IdComponent > 0"
    >
      <app-button
        (click)="back()"
        class="back"
        className="solid">
        <i [outerHTML]="phantomIcons.auth_button_arrow_right | safe"></i>
        Назад
      </app-button>

      <hr>
    </div>

    <div
      *ngIf="!isTheEnd"
    >
      <p>Уже есть аккаунт?</p>
      &nbsp;
      <app-router
        class="auth"
        className="auxiliary"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="auth_link">
        Войти
      </app-router>
    </div>
  </div>
</div>
