<section class="d-flex flex-column mt-6">
  <div *ngIf="!(isLoading$ | async)">
    <mat-form-field class="login-field">
      <i class="icon">
        <img ngSrc="assets/images/svg/auth/loginField.svg" fill class="pos-relative" alt="login">
      </i>
      <input matInput placeholder="Имя пользователя или Email" minlength="3" maxlength="16" [formControl]="login"
             required>
      <mat-error *ngIf="login.invalid">{{authValidator.getLoginFieldErrorMessage(login)}}</mat-error>
    </mat-form-field>
    <mat-form-field class="email-field">
      <i class="icon">
        <img ngSrc="assets/images/svg/auth/emailField.svg" fill class="pos-relative" alt="email">
      </i>
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{authValidator.getEmailFieldErrorMessage(email)}}</mat-error>
    </mat-form-field>
    <mat-form-field class="password-field">
      <i class="icon">
        <img ngSrc="assets/images/svg/auth/passwordField.svg" fill class="pos-relative" alt="password">
      </i>
      <input matInput placeholder="Пароль" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{authValidator.getPasswordFieldErrorMessage(password)}}</mat-error>
    </mat-form-field>
    <mat-form-field class="password-field">
      <i class="icon">
        <img ngSrc="assets/images/svg/auth/passwordField.svg" fill class="pos-relative" alt="password">
      </i>
      <input matInput placeholder="Повторите пароль" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{authValidator.getPasswordFieldErrorMessage(password)}}</mat-error>
    </mat-form-field>

    <div class='remember-password d-flex'>
      <app-checkbox (eventCheck)="agreeRule = $event">
        <p>Я прочитал и принимаю&nbsp;</p><a href='http://localhost:8080'>правила</a>
        <p>&nbsp;проекта</p>
      </app-checkbox>
    </div>

    <div class='d-flex flex-column mt-4'>
      <i-button [disabled]="!isEnabled()" (click)="registration()" class='mb-4' color="primary"
                text="Зарегистрироваться" className="default"/>
      <a [routerLink]="auth_link" class="link-effect text-center w-fit-content m-0-auto">
        <p class='registration'>Войти</p>
      </a>
    </div>
  </div>

  <app-overlay class="d-flex justify-center" *ngIf="isLoading$ | async"/>

</section>
