//colors
$base-bg-color: #0D0D11;
$base-bg-accent-color: #151519;
$white-1: #FFF;

//dev
$white-09: #FFF;
$white-08: #FFF;
$white-075: #FFF;
$white-07: #FFF;
//end dev

$red: #F44;
$red-light: #FF5353;

$base-button-accent-color: #6563EE;
$base-text-accent-color: #6563EE;
$base-border-color: #6563EE;

$accent-color: #8887E1;

$base-rounded: 16px;


