@import "variables";

:host {
  display: block;

  p.hint {
    line-height: 27px !important;
  }

  span {
    color: $base-text-accent-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
}
