<header class="dock d-flex">

  <div class="d-flex left">

    <app-logo/>

    <p class="delimiter"></p>
    <p class="description">Ivan senior back-end ing</p>
  </div>

  <div class="right">
    <section>
      <div>
        <img ngSrc="assets/images/playerDefault.png" alt="player" fill="white" class="pos-relative"/>
        <span>IgnI VertiCalKad</span>
      </div>
      <button mat-mini-fab disableRipple class="exit">
        <img ngSrc="assets/images/svg/tabler_logout.svg" fill="white" alt="exit" class="pos-relative">
      </button>

    </section>
  </div>

</header>
