<div class="upper">
  <p class="title">сменить ПАРОЛЬ</p>

  <div class="d-flex flex-column">
    <app-text-field
      type="password"
      class="w-100"
      className="outline"
      placeholder="Введите текущий пароль">
    </app-text-field>
    <app-text-field
      type="password"
      class="w-100"
      className="outline"
      placeholder="Введите новый пароль">
    </app-text-field>
    <app-text-field
      type="password"
      class="w-100"
      className="outline"
      placeholder="Повторите новый пароль">
    </app-text-field>
  </div>

  <app-button className="change-password">Сменить пароль</app-button>
</div>

<div class="block-error">
  <i [outerHTML]="phantomIcons.error_circles_icon | safe"></i>
  <p>Текущий пароль неверный!</p>
</div>
