@mixin default-btn() {
  border-radius: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: center;

  display: block;

  height: 64px;

  line-height: 28px;
  padding: 18px 56px;
}

a {
  &.i-btn {
    @include default-btn;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  &.outline {
    @include default-btn;

    color: rgba(255, 255, 255, 0.75);
    background: transparent;

    border: 1.5px solid rgba(255, 255, 255, 0.15);
  }
}
