@mixin default-btn() {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: center;

  border-radius: 16px;
  display: block;
  padding: 18px 68px;
}

a {
  transition: all .3s ease;

  &.default {
    @include default-btn;

    height: auto;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.05);

    &:hover {
      opacity: .75;

      &:active {
        opacity: .5
      }
    }
  }

  &.outline {
    @include default-btn;

    height: auto;
    color: rgba(255, 255, 255, 0.75);
    border: 1.5px solid rgba(56, 56, 62, 1);

    &:hover {
      border-color: rgba(255, 255, 255, 0.75);

      &:active {
        color: white;
        border-color: rgba(255, 255, 255, 1)
      }
    }
  }

  &.get-help {
    @include default-btn;
    border-radius: 12px;
    height: auto;

    padding: 6px 0;

    &:hover {
      opacity: .75;

      &:active {
        opacity: .5
      }
    }
  }

  &.store-btn {
    @extend .default;
    padding: 16px 0;
  }

  &.refresh-status {
    @extend .default;
    padding: 11px 0;
  }

  &.auth {
    @extend .default;
    padding: 10px 32px;
  }
}
