<main class='news-section details'>
  <div class='img-container'>
    <p class='title'>{{ (selectedNews$ | async)?.title }}</p>
    <img
      [ngSrc]='(selectedNews$ | async)!.attachments[0]?.filename ?? defaultImageNews'
      [alt]="(selectedNews$ | async)!.attachments[0]?.description ?? ''"
      [style.height.px]="250"
      fill priority class="pos-relative"/>
  </div>

  <div class="sub_news-details">
    <div class="content">
      {{ (selectedNews$ | async)?.content }}
    </div>

    <div class='rating-div'>
      <div class='d-flex align-center'>
        <div class='rating'>
          <app-icon class="news" type="transparent">
            <i [outerHTML]="phantomIcons.arrow_up_down_icon | safe"></i>
          </app-icon>
          <p>30</p>
          <app-icon class="news" type="transparent">
            <i [outerHTML]="phantomIcons.arrow_up_down_icon | safe"></i>
          </app-icon>
        </div>

        <span class='data ml-4'>{{ (selectedNews$| async)?.createdAt | date:'short' }}</span>
      </div>

      <i [outerHTML]="phantomIcons.dots_icon | safe"></i>

    </div>

    <app-text-field class="news" className="solid" placeholder="Добавить комментарий">
      <i icon [outerHTML]="phantomIcons.sender_icon | safe"></i>
    </app-text-field>

<!--    *ngIf="!(selectedNews$ | async)?.comments"-->
<!--    *ngFor="let user of (selectedNews$ | async)?.comments"-->
    <section class='comments'>
      <app-card-user-comment *ngFor="let comment of [].constructor(10)"/>

    </section>

    <div class='manipulator-comments'>
      <span
        *ngIf="!(selectedNews$ | async)?.comments">посмотреть все комментарии</span>

<!--      <span-->
<!--        *ngIf="(selectedNews$ | async)?.comments">комментарии отсуствуют</span>-->
    </div>

  </div>
</main>
