:host {
  section {margin: auto auto};

  .modal {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);

    position: fixed;
    display: flex;
    inset: 0;
    z-index: 10000;
    overflow: auto;
  }

}
