@import "variables";
@import "global-style-effects";

@mixin default-btn() {

}

app-button {
  .default {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: center;

    cursor: pointer;

    color: $white-1;
    background: $base-button-accent-color;

    height: auto;

    border-radius: 12px;
    display: block;

    transition: 0.1s ease-out;

    &:hover {
      opacity: .75;

      &:active {
        opacity: .5
      }
    }
  }
  .outline {
    @extend .default;

    border: 1px solid $base-button-accent-color;

    padding: 0 20px;
    background: transparent;
    height: 100%;

    &:hover {
      opacity: .75;

      &:active {
        opacity: .5
      }
    }
  }

  &.toggles {
    .hybrid {
      @extend .outline;

      line-height: 21px;
      padding: 0 16px;
      font-size: 16px;
      background-color: $base-bg-hints;
    }
  }

  &.logout {
    .transparent {
      display: flex;
      padding: 6px;

      @include icon-hover-pressed-effect;
    }
  }

  &.auth {
   .solid {
     @extend .default;
     padding: 16px 30px;
   }

  }

  .load-avatar {
    @extend .default;

    border-radius: 7px;

    font-size: 13px;
    font-weight: 600;
    line-height: 21px;

    padding: 0 28px;
  }

  .load-skin_cape {
    @extend .default;

    border-radius: 12px;

    padding: 2px 0;
    width: inherit;
  }

  &.small {
    .remove {
      border-radius: 7px;
      padding: 3px;
    }
  }

  .remove {
    padding: 6.5px;

    display: flex;

    height: 100%;
    border-radius: 12px;
    align-items: center;
    justify-content: center;

    background: $red;
  }

  .start-play {
    @extend .default;

    padding: 37px 38px;

    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;

    border-radius: 32px;
  }

  &.send-code {
    .solid {
      @extend .default;


      height: 100%;
      padding: 0 12px;

      font-size: 14px;
      font-weight: 500;
    }

  }

  &.change-password {
    .solid {
      @extend .default;


      padding: 8px 12px;
      justify-content: center;
      align-items: center;

      font-size: 14px;
      font-weight: 500;
    }

  }

  .close-all-sessions {
    @extend .default;


    background: transparent;
    border: 1px solid $white-1;

    white-space: nowrap;

    padding: 15px 70px;

    font-weight: 400;
    line-height: 28px;
  }

  .restocking {
    @extend .default;


    width: 18rem;
    padding: 16px 20px;
  }

  &.two-fa {
    .solid {
      @extend .default;


      height: 100%;
      padding: 0 12px;

      font-size: 14px;
      font-weight: 500;
    }

    .outline {
      border-radius: 16px;
      padding: 0 12px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.auth-btn {
    &.disabled {
      .solid {
        background: transparent;
        outline: 1px solid $base-border-color;
      }
    }
    .solid {
      @extend .default;


      border-radius: 16px;

      font-weight: 400;

      display: flex;
      align-items: center;

      gap: 6px;

      padding: 10px 20px;
    }
  }

  &.modal-btn {
    .solid {
      @extend .default;


      display: flex;
      align-items: center;

      gap: 10px;

      padding: 16px 34px;
    }
    .outline {
      padding: 15px 34px;

      border: 1px solid rgba(255, 255, 255, 0.50);
    }
  }

  &.good-game {
    .solid {
      @extend .default;


      font-weight: 400;

      display: flex;
      align-items: center;

      gap: 6px;

      padding: 16px 20px;

      border-radius: 16px;
    }
  }
  &.back {
    .solid {
      @extend .default;

      font-weight: 400;

      display: flex;
      align-items: center;

      gap: 4px;

      padding: 6px 10px;

      > svg {
        //rotate from right to left
        transform: scaleX(-1);
      }
    }
  }

  .with-icon {
    cursor: pointer;
    display: flex;

    path {
      fill: #6763FF;
    }
    line {
      stroke: #6763FF;
    }

  }

  &.items-card {
    .solid {
      @extend .default;

      width: 100%;

      text-align: center;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &.profile {
    &.main {
      .solid {
        @extend .default;

        padding: 0 36px;
      }
    }
  }

  &.privileges-card {
    .outline {
      width: 100%;
    }

    .solid {
      @extend .default;

      border-radius: 0;
      height: 100%;

      font-weight: 400;
      font-size: 12px;
      color: $white-1;

      padding: 2px 6px 0 6px;
      //background: rgba(118, 114, 255, 0.15);

    }
  }
}
