<section class="main mt-4">

  <div class="left">
    <canvas id="skin_container" class="skinViewer"></canvas>
    <div class="controls mt-4">
      <div class="first">
        <i-button color="primary" class="w-100" className="profile" (click)="skinInput.click()" text="Загрузить скин"/>
        <input hidden (change)="loadSkin($event)" #skinInput type="file">
        <i-button (click)="removeMeSkin()" color="warn" className="remove" class="trash"><i [outerHTML]="phantomIcons.removeSkinOrCape_icon | safe"></i></i-button>
      </div>

      <div class="second">
        <i-button color="primary" class="w-100" className="profile" (click)="capeInput.click()" text="Загрузить плащ"/>
        <input hidden (change)="loadCape($event)" #capeInput type="file">
        <i-button (click)="removeMeCape()" color="warn" className="remove" class="trash"><i [outerHTML]="phantomIcons.removeSkinOrCape_icon | safe"></i></i-button>
      </div>
    </div>
  </div>

  <div class="right ml-4">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Внешний вид персонажа</mat-card-title>
        <mat-card-subtitle class="mt-4">Хотите подчеркнуть свою индивидуальность и выглядеть по-настоящему круто?
          Персонализируйте Вашего игрового персонажа и загрузите скин всего в два клика!
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>


    <div class="d-flex mt-4">
      <i-button color="primary" class="mr-5" className="default" text="Телепорт на спавн"/>
      <i-button color="primary" className="default" text="Публичный профиль"/>
    </div>
  </div>
</section>
