<section class="block-servers" [@listAnimation]="(servers$ | async)?.length">
  <div class="server-card" *ngFor="let server of servers$ | async, let i = index">
    <div class="img-container">
      <img [ngSrc]="defaultImageServer"
           fill=""
           priority
           [alt]="server.name">

      <p>{{ server.name }}</p>
      <div class="bg-gradient"></div>
    </div>

    <div class="info w-100">
      <div class="chips">
        <app-chip
          *ngFor="let chip of [].constructor(4)"
          className="for-servers">
          <i [outerHTML]="phantomIcons.chip_icon_for_servers | safe"></i>
          <p>TechnoMagic</p>
        </app-chip>
      </div>
    </div>

    <div class="block-online mb-2">
      <hr>
      <div class="mt-3">
        <span>3459/4000</span>
        <app-progress max="100" value='40'></app-progress>
      </div>
    </div>
  </div>
</section>

<nav class='right nav-spacer'>

</nav>
