<section class="d-flex flex-column mt-6">
  <mat-form-field class="login-field">
    <i class="icon">
      <img ngSrc="assets/images/svg/auth/loginField.svg" fill="white" class="pos-relative" alt="login">
    </i>
    <input matInput placeholder="Имя пользователя или Email" minlength="3" maxlength="16" [formControl]="login" required>
    <mat-error *ngIf="login.invalid">{{authValidator.getLoginFieldErrorMessage(login)}}</mat-error>
  </mat-form-field>
  <mat-form-field class="password-field">
    <i class="icon">
      <img ngSrc="assets/images/svg/auth/passwordField.svg" fill="white" class="pos-relative" alt="password">
    </i>
    <input matInput placeholder="Пароль" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{authValidator.getPasswordFieldErrorMessage(password)}}</mat-error>
  </mat-form-field>

  <div class='remember-password d-flex'>
    <label class='material-checkbox'>
      <input type='checkbox'>
      <span class='checkmark'></span>
      <p>Запомнить меня</p>
    </label>

    <a [routerLink]="resetAccount_link" class="link-effect">
      <p class='forgot-password'>Забыли пароль?</p>
    </a>
  </div>

  <div class='d-flex flex-column mt-4'>
    <i-button [disabled]="!isDisabled()" class='mb-4' color="primary" text="Войти" className="i-btn"/>

    <a [routerLink]="registration_link" class="link-effect text-center w-fit-content m-0-auto">
      <p class='registration'>Зарегистрироваться</p>
    </a>
  </div>

</section>
