<div class="block-enter">
  <div>
    <app-text-field [errorInsideTheBlock]="true" class="auth" className="outline" type="password" placeholder="Пароль"
                    [control]="password"
    >
      <ng-container validator>
        {{ authValidator.getPasswordFieldErrorMessage(password) }}
      </ng-container>

      <app-button button class="auth-btn" className="solid"
                  (click)="continue(password, {password: password.value!, rememberMe: isRememberMe})"

      >
        Далее
        <i [outerHTML]="phantomIcons.auth_button_arrow_right | safe"></i>
      </app-button>

    </app-text-field>

  </div>
  <div>
    <app-input-checkbox (eventConfirmed)="rememberMe($event)">
      Запомнить пароль
    </app-input-checkbox>
  </div>
</div>
