<div class="block-enter">
  <div class="errors">

  </div>
  <div>
    <app-text-field className="outline" type="password" placeholder="Пароль"
                    [control]="password"
    />
    <app-button class="auth-btn" className="solid"
                (click)="next(this.password.valid)"
    >
      Далее
      <i [outerHTML]="phantomIcons.auth_button_arrow_right | safe"></i>
    </app-button>
  </div>
  <div>
    <app-input-checkbox>
      Запомнить пароль
    </app-input-checkbox>
  </div>
</div>
