<section class='profile d-flex flex-column'>

  <div class='d-flex w-100 flex-wrap'>
    <table class="mr-5">
      <tbody>
      <tr>
        <td>Действующая группа:</td>
        <td>{{ active_group$ | async }}</td>
      </tr>
      <tr>
        <td>Ваша почта:</td>
        <td>{{ email$ | async }}</td>
      </tr>
      <tr>
        <td>Регистрация аккаунта:</td>
        <td>{{ createdAt$ | async | date: 'mediumDate' }}</td>
      </tr>
<!--      <tr>-->
<!--        <td>Последняя активность:</td>-->
<!--        <td>12.08.2023</td>-->
<!--      </tr>-->
      <tr>
        <td>Защита 2FA:</td>
        <td>Подключена</td>
      </tr>
      </tbody>
    </table>

    <div class='add-money d-flex flex-column'>
      <label class='mb-5'>
        Пополнить
        <br/>
        Баланс
      </label>
      <b>ваш баланс:</b>
      <span><b>0</b>&nbsp;очков</span>
      <div class='bg'></div>
    </div>

    <div class='profile-info d-flex flex-column'>
      <div class='sub'>
        <div class='d-flex flex-column'>
          <span class='nickname'>{{ username$ | async }}</span>
          <span class='status mt-5'>Не в игре</span>
        </div>
        <i-button color="primary" className="refresh-status" class="refresh-btn" text="Публичный профиль"/>
      </div>
    </div>
  </div>

  <main class='mt-5'>
    <nav class='navigation w-100 fill-height'>
      <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
        Главная
      </a>
      <a routerLink="security" routerLinkActive="active" ariaCurrentWhenActive="page">
        Безопасность
      </a>
      <a routerLink="statistic" routerLinkActive="active" ariaCurrentWhenActive="page">
        Статистика
      </a>
    </nav>

    <hr class="mt-4">

    <router-outlet/>

  </main>
</section>
