.profile {

  > main {
    background: #1e1e25;
    border-radius: 16px;
    padding: 16px;

    > hr {
      height: 2px;
      width: 96%;
      margin: 0 auto;
      border: none;
      border-radius: 4px;
      opacity: 0.25;
      background: #151519;
    }
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;

    a {
      &.active {
        background-color: var(--default-button-color);
      }

      &:hover {
        background-color: var(--default-button-color);
      }

      flex: 1 1 auto;

      color: white;
      text-align: center;
      border-radius: 16px;
      border: 1.5px solid rgba(255, 255, 255, 0.15);

      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;

      padding: 16px;
      transition: .2s ease;

      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

    }
  }

  .profile-info {
    margin-left: 30px;

    border-radius: 16px;
    background: #151519;

    flex: 2 0 auto;

    min-width: 280px;

    font-style: normal;
    color: #fff;
    line-height: 30px;

    .sub {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .nickname {
      font-size: 32px;
      font-weight: 600;
    }

    .status {
      opacity: 0.5;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
    }

    .refresh-btn {
      margin-top: auto;
    }

    > div {
      margin: 18px;
    }
  }


  table {
    background-color: #1E1E25;
    border-radius: 16px;
    padding: 16px;

    flex: 2 1 auto;

    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    tr {
      padding: 0 10px;
      display: block;
      border-radius: 10px;

      &:nth-child(2n + 1) {
        background: #2C2C4E;
      }

      &:nth-child(even) {
        margin: 5px 0;
      }
    }

    th,
    td {
      width: 100%;
      text-align: left;
      white-space: nowrap;

      &:last-child,
      &:last-child {
        text-align: right;
      }
    }

    p {
      margin-block: 1.5rem;
      text-align: justify;
    }
  }

  .add-money {
    .bg {
      background-image: url('/../assets/images/svg/add-money-frog.svg');
      height: 137px;
      width: 200px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    position: relative;
    flex: 4 1 auto;
    padding: 16px;
    border-radius: 16px;
    background: #1e1e25;

    line-height: 28px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;

    label {
      color: var(--default-button-color);
      font-size: 24px;
    }

    > b {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }

    span {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      text-transform: none;

      b {
        color: var(--default-button-color);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }
}
