<div class="block-enter">
  <div>
    <app-text-field [errorInsideTheBlock]="true" class="auth" className="outline" placeholder="example@gmail.com"
                    [control]="email">

      <ng-container validator>
        {{ authValidator.getEmailFieldErrorMessage(email) }}
      </ng-container>


      <app-button button class="auth-btn"
                  [class.disabled]="email.invalid" className="solid"
                  (click)="authLogic.continue(email, {email: email.value!})"
      >
        Далее
        <i [outerHTML]="phantomIcons.auth_button_arrow_right | safe"></i>
      </app-button>

    </app-text-field>


  </div>
  <div class="hint d-block">
    Включите режим инкогнито, если не хотите, чтобы ваши данные сохранились в этом браузере. Если вы забыли почту,
    нажмите <a routerLink="/reset">здесь</a>
  </div>
</div>
