section {
  &.navigation-section {
    margin-top: 25px;
    display: flex;

    > nav {
      flex: 1 1 20%;

      > a {
        transition: .2s ease;
        color: #8F8F94;
        padding: 8px;
        border: 1.5px solid transparent;
        border-radius: 16px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        font-weight: 500;


        svg {
          height: 32px;
          margin-right: 8px;
          transition: .2s ease;
          opacity: .5
        }

        &:hover {
          border-color: #6563EE;
          color: rgba(255, 255, 255, 0.75);

          svg {
            opacity: .75
          }
        }

        &.active {
          background: #1E1E25;
          color: white;

          svg {
            opacity: 1
          }

          &:hover {
            border-color: transparent;
          }
        }
      }
    }

    > main {
      margin-left: 30px;
      flex: 1 1 80%;
    }

    //capsule
    .input-text .mat-mdc-form-field-infix {
        display: flex;
    }
  }
}

.toUp {
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #343442;
  background: #1E1E25;
  transition: .2s ease;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 25px;
  right: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &:hover {
    background: #343442;
  }

  > img {
    width: auto !important;
    height: auto !important;
  }
}
