<app-dock
  #dock
  class="unpin"
  [ngClass]="{'pin': isPinedDock}"/>

<div class="d-flex justify-center">
  <div class="container">
    <section class="navigation-section">
      <nav class="d-flex flex-column">
        <a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i [outerHTML]="phantomIcons.mainPage_icon | safe"></i>
          Главная
        </a>
        <a routerLink="/servers" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i [outerHTML]="phantomIcons.serverPage_icon | safe"></i>
          Сервера
        </a>
        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i [outerHTML]="phantomIcons.profilePage_icon | safe"></i>
          Профиль
        </a>
        <a routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i [outerHTML]="phantomIcons.storePage_icon | safe"></i>
          Магазин
        </a>
      </nav>

      <main class="pos-relative">
        <div [@navigateAnimation]="getRouteAnimationData()">
          <router-outlet/>
        </div>

      </main>
    </section>
  </div>
</div>

<div @fade *ngIf="isShow" (click)="toUp()" class="toUp">
  <img ngSrc="assets/images/svg/arrow-select.svg" class="pos-relative" fill="white" alt="toUp">
</div>
