<div class="donate-card d-flex">

  <div class="left-segment">
    <p class="title">Vip</p>
    <span class="subtitle d-block mt-5">150 игников</span>
  </div>

  <div class="right-segment">

    <div class="sub-left">
      <span class="tick-section">
        <img ngSrc="assets/images/svg/tick.svg" fill="white" alt="tick">
        <p>пример заполнения</p>
      </span>
      <span class="tick-section">
        <img ngSrc="assets/images/svg/tick.svg" fill="white" alt="tick">
        <p>пример заполнения</p>
      </span>
      <span class="tick-section">
        <img ngSrc="assets/images/svg/tick.svg" fill="white" alt="tick">
        <p>пример заполнения</p>
      </span>
    </div>

    <div class="sub-right">
      <span class="cross-section">
        <img ngSrc="assets/images/svg/cross.svg" fill="white" alt="tick">
        <p>пример заполнения</p>
      </span>
      <span class="cross-section">
        <img ngSrc="assets/images/svg/cross.svg" fill="white" alt="tick">
        <p>пример заполнения</p>
      </span>
    </div>

  </div>
  <img ngSrc="assets/images/svg/6angle.svg" fill="white" alt="6angel">
</div>
