@use '@angular/material' as mat;
@import '@angular/material/theming';
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "mixin";
@import "variables";
@import "global-style";

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;


$phantom-pallet: (
  50:  #6563EE,
  100: rgba(0, 0, 0, 0),
  200: #fff,
  300: #7986cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$my-primary: mat.define-palette($phantom-pallet, 50);
$my-accent: mat.define-palette($phantom-pallet, 100);

$phantom-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(
    $font-family: 'Inter',
  )
));

@include mat.all-component-themes($phantom-theme);

html {
  scroll-behavior: smooth;
}

* {font-family: 'Inter',  sans-serif !important; letter-spacing: 0; margin: 0;padding: 0}
html, body {margin: 0; height: 100%; background: #0D0D11;}
body { overflow-y: scroll; scrollbar-width: thin; }

.fill-height {
  height: 100%;
}
.justify-center {
  justify-content: center;
}
.container {
  width: 1300px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

a {text-decoration: none; cursor: pointer;}

.mat-mdc-button-touch-target {width: 0 !important}
.mat-mdc-button-persistent-ripple::before {display: none !important}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1em;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
