<div class="d-flex justify-center h-100">
  <div class="container">

    <app-dock
      class="unpin"
    />

    <section class="previewPage fill-height">
      <div class="header d-flex">
        <span>PhantomCMS <br/>
              Shadow, Color, Design</span>

        <p>Very fast and the most modern</p>

        <div class="d-flex">
          <i-button color="primary" className="default" link="/profile" text="Личный кабинет"/>
          <i-button color="accent" class="ml-4" className="outline" link="/auth" text="Скачать лаунчер"/>
        </div>

        <div class='online-section mt-4 d-flex align-center'>
          <i [innerHTML]="phantomIcons.preview_serverOnline_icon | safe"></i>
          <span class='text-online'>Текущий онлайн: <b>45</b></span>
        </div>
      </div>

      <footer class='d-flex'>
        <div class='d-flex flex-column'>
          <app-logo class="mt-4"/>
          <p class='pt-3 text-center'>© 2023 PhantomCMS</p>
        </div>

        <div>
          <strong>Основное</strong>
          <div class='grid'>
            <a>Донат</a>
            <a>Личный кабинет</a>
            <a>Правила</a>
            <a>Банлист</a>
            <a>Скачать лаунчер</a>
            <a>ИванПиздат</a>
          </div>
        </div>

        <div>
          <strong>Контактные данные</strong>
          <div class="d-flex flex-column">
            <a>Конфиденциальность</a>
            <a>Обратная связь</a>
            <div class="contacts-buttons">
              <a mat-icon-button disableRipple class="mr-1">
                <img ngSrc="assets/images/svg/youtube.svg" alt="logo" fill="white" class="pos-relative">
              </a>
              <a mat-icon-button disableRipple>
                <img ngSrc="assets/images/svg/vk.svg" alt="logo" fill="white" class="pos-relative">
              </a>
            </div>
          </div>
        </div>

        <div>
          <strong>Остались вопросы?</strong>
          <i-button color="primary" link="/one" className="get-help" text="Задать вопрос"/>
          <div>
            <i [outerHTML]="phantomIcons.footer_masterCard_icon | safe"></i>
            <i [outerHTML]="phantomIcons.footer_visa_icon | safe"></i>
            <i [outerHTML]="phantomIcons.footer_mir_icon | safe"></i>
          </div>
        </div>

      </footer>
    </section>
  </div>
</div>
