@import "variables";

:host {
  display: block;

  div .accept-rules {
    display: block;
    color: $white-075;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    > span {
      color: $base-text-accent-color;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
}

