@import "variables";

app-chip {

  > div {
    border-radius: 32px;
    width: fit-content;
  }

  .for-news {
    background: $base-bg-hints;

    padding: 0 10px;

    cursor: pointer;

    color: #6563EE;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;

    > p {
    }

    > svg {
    }
  }

  .for-servers {
    background: $base-bg-hints;

    display: flex;
    align-items: center;
    padding: 3px 9px 3px 3px;

    gap: 5px;

    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    > p {
      color: rgba(255, 255, 255, 0.50);
      line-height: normal;
    }

    > svg {
      border-radius: 10px;
      background: rgba(101, 99, 238, 0.2);
      padding: 4px;
    }
  }

  &.server-details .for-server-details {
    background: $base-bg-hints;

    font-weight: 400;
    font-size: 24px;
    color: $white-05;

    padding: 0 10px;

    border: 1px solid transparent;
    transition: .2s ease-out;

    cursor: pointer;

    &:hover {
      border-color: $base-border-color;
      color: $white-1;
    }
  }

  .for-privileges-card {
    display: flex;
    align-items: center;

    border-radius: 6px;

    gap: 5px;

    padding: 4px 12px 4px 6px;

    background: rgba(118, 114, 255, 0.15);

    > p {
      font-weight: 400;
      font-size: 13px;
      color: #8e8e92;
    }

  }

}
